.image-area {
  position: relative;
}

/* .image-border {
  display: block;
  border: 4px solid #f8f9fa;
  height: 500px;
  width: 376px;
  position: absolute;
  top: 30px;
  left: 30px;
} */

.about-us {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 3rem;
  justify-content: center;
}

.about-us-image {
  z-index: 10000;
}

.image-area {
  margin: 0 auto;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.description > .page-subtitle {
  margin-top: 0;
}

.company-qualities {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 25px;
}

.quality {
  align-items: center;
  display: flex;
  gap: 10px;
}

.quality-description {
  font-weight: bold;
  font-size: 1.125rem;
}

@media (max-width: 900px) {
  .about-us {
    grid-template-columns: 1fr;
  }

  .description {
    align-items: center;
  }

  .description > .page-subtitle {
    margin-top: 2rem;
    align-self: flex-start;
  }
}

@media (max-width: 500px) {
  .image-border {
    display: none;
  }

  .company-qualities {
    display: grid;
    grid-template: 1fr / 1fr;
    gap: 25px;
    align-self: flex-start;
  }
}

.partner-subtitle {
  font-size: 2.5rem;
  margin: 1rem 0 1rem 0;
}

.partner-images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  background-color: #fff;
  padding: 1rem;
  flex-wrap: wrap;
}

.partner-image {
  width: 175px;
}

.services {
  background: #f8f9fa;
  padding: 2rem 0;
}

.services-title {
  color: #212529;
}

.services-separator {
  border-top: 5px solid #212529;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

@media (max-width: 700px) {
  .services-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.service {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.service:hover {
  transform: scale(1.02);
}

.service1,
.service4 {
  background-color: #c8c6c6;
}

.service2,
.service5 {
  background-color: #d9d9d9;
}

.service3,
.service6 {
  background-color: #efefef;
}

.service-img {
  height: 400px;
  width: 100%;
  object-fit: cover top;
}

.service-text {
  padding: 1rem;
}

.service-title {
  font-size: 1.5rem;
  color: #212529;
}

.service-description {
  font-size: 1.125rem;
  margin-top: 1rem;
  color: #212529;
}

.other-projects {
  margin-top: 3rem;
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}

.service7,
.service6 {
  max-width: 350px;
  background-color: #efefef;
}

#service-title {
  margin-bottom: 0;
}
