.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.page-description {
  width: 50%;
}

.page-description.contact-description {
  color: #f8f9fa;
}

@media (max-width: 750px) {
  .contact {
    grid-template-columns: 1fr;
  }
}

.contact-title {
  margin-bottom: 1rem;
}

.contact-form {
  border-radius: 5px 0px 0px 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #212529;
  background: #f8f9fa;
  padding: 30px;
}

.input-field {
  font-family: "Crimson Pro", serif;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.125rem;
  background-color: #212529;
  color: #f8f9fa;
  border: none;
}

.contact-options {
  background-color: #c6cacf;
  border-radius: 0px 5px 5px 0px;
  color: black;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.phone,
.localization,
.email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

.contact-title {
  display: flex;
  gap: 15px;
}

.contact-type {
  font-size: 1.45rem;
}

.send-button {
  background-color: #212529;
  border: none;
  border-radius: 5px;
  color: #f8f9fa;
  cursor: pointer;
  height: 30px;
  transition: 0.3s ease-in-out;
  width: 60px;
}

.send-button:hover {
  transform: scale(1.05);
}

.google-maps {
  background-color: #f8f9fa;
}

.location-title {
  margin-top: 1rem;
  padding-top: 2rem;
}

.location-title,
.page-description {
  color: #212529;
}

.element-location {
  border-top: 5px solid #212529;
}

.iframe-map {
  width: 100%;
}

.phone p,
.localization p,
.email p {
  font-size: 1.125rem;
}
