*,
*::after,
*::before {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #212529;
  color: #f8f9fa;
  font-family: "Crimson Pro", serif;
}

.container {
  margin: auto;
  max-width: 1024px;
  padding: 10px;
}

/* ------------NAVBAR------------ */
.navbar {
  align-items: center;
  background-color: #f8f9fa;
  color: #212529;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 7rem;
  position: relative;
}

.normal-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .navbar {
    padding: 0.75rem 2rem;
  }
}

.dropdown {
  display: none;
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 900px) {
  .dropdown {
    display: flex;
    visibility: visible;
    opacity: 1;
  }

  .nav-list-normal {
    display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }

  .brands-normal {
    display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }
}

.dropdown-menu {
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.4);
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  padding: 0.75rem;
  pointer-events: none;
  position: absolute;
  top: calc(100% + 0.15rem);
  transform: translateY(-25px);
  transition: ease-in-out 0.3s;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.dropdown-menu.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

.nav-list,
.nav-list-normal {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.nav-list-normal {
  gap: 50px;
}

@media (min-width: 768px) {
  .nav-list {
    flex-direction: row;
    gap: 20px;
  }
}

.nav-item,
.brand-item {
  color: #212529;
  text-decoration: none;
  font-size: 1.35rem;
  position: relative;
}

.nav-item.active {
  font-weight: bold;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #212529;
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
}

.nav-item:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.brands,
.brands-normal {
  color: #212529;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.brand-item {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #212529b1;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  transition: 0.15s ease-in-out;
}

.brand-item:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
  transform: scale(1.05);
}

/* ------------PORTFOLIO HOMEPAGE------------ */
.portfolio-title {
  margin: 2rem 0;
  font-size: 2rem;
}

.portfolio-grid {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 700px) {
  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  align-items: center;
  background: #f8f9fa;
  border-radius: 5px;
  color: #212529;
  display: flex;
  height: 400px;
  justify-content: center;
  margin: auto;
  max-width: 550px;
  width: 100%;
}
