*,
*::after,
*::before {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.swiper-button-next,
.swiper-button-prev {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  fill: white;
}

body {
  background-color: #212529;
  color: #f8f9fa;
  font-family: "Crimson Pro", serif;
}

.container {
  margin: auto;
  max-width: 1024px;
  padding: 0 10px 10px 10px;
}

.page-subtitle {
  margin-top: 2rem;
  font-size: 2.5rem;
}

.element-separator {
  margin: 1rem 0;
  display: block;
  border-top: 5px solid #f8f9fa;
  width: 64px;
}

.page-description {
  font-size: 1.25rem;
  margin: 1.5rem 0 2.5rem 0;
  min-width: 330px;
}

/* ------------NAVBAR------------ */
.navbar {
  align-items: center;
  background-color: #f8f9fa;
  color: #212529;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 7rem;
  position: relative;
}

.normal-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .navbar {
    padding: 0.75rem 2rem;
  }
}

.dropdown,
.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 900px) {
  .dropdown {
    display: flex;
    visibility: visible;
    opacity: 1;
  }

  .nav-list-normal {
    display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }

  .brands-normal {
    display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }
}

.dropdown-menu {
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.4);
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  padding: 0.75rem;
  pointer-events: none;
  position: absolute;
  top: calc(100% + 0.15rem);
  transform: translateY(-25px);
  transition: ease-in-out 0.3s;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.dropdown-menu.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

.nav-list,
.nav-list-normal {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  gap: 30px;
}

.nav-list {
  flex-direction: column;
}

.nav-list-normal {
  gap: 50px;
}

@media (min-width: 768px) {
  .nav-list {
    flex-direction: row;
    gap: 20px;
  }
}

.nav-item,
.brand-item {
  color: #212529;
  text-decoration: none;
  font-size: 1.35rem;
  position: relative;
}

.nav-item.active {
  font-weight: bold;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #212529;
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
}

.nav-item:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.brands,
.brands-normal {
  color: #212529;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.brand-item {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #212529b1;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  transition: 0.15s ease-in-out;
}

.brand-item:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
  transform: scale(1.05);
}

.page-title {
  position: relative;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

/* ------------PORTFOLIO HOMEPAGE------------ */
.portfolio-title {
  font-size: 2rem;
  z-index: 5;
}

.title-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.project {
  width: 250px;
  height: 250px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .project {
    width: 200px;
    height: 200px;
  }
}

/* ------------footer------------ */
.footer-developed-by {
  margin: 2rem 0 1rem 0;
  text-align: center;
  opacity: 0.6;

  transition: 0.3s ease-in-out;
}

.footer-developed-by-link {
  text-decoration: none;
  color: #f8f9fa;
}

.footer-developed-by:hover {
  transform: scale(1.05);
}

/* ------------modal------------ */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0 6rem;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-slide {
  position: relative;
}

.image-legend {
  font-size: 2rem;
  color: white;
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: auto;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0 5px;
}

.close-modal {
  align-items: center;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  color: #212529;
  display: flex;
  cursor: pointer;
  font-size: 2rem;
  justify-content: center;
  padding: 1px 8px;
  position: absolute;
  right: 35px;
  top: 15px;
  transition: 0.3s ease-in-out;
  z-index: 999999;
}

.close-modal:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
  transform: scale(1.05);
}

.modal-projetos-maquinas2,
.modal-dispositivos2,
.modal-adaptacao2,
.modal-layout3d2,
.modal-NR122,
.modal-projetos-gerais2,
.modal-atualizacao-reestruturacao2 {
  height: 65vh !important;
}

.modal-projetos-maquinas,
.modal-dispositivos,
.modal-adaptacao,
.modal-layout3d,
.modal-NR12,
.modal-projetos-gerais,
.modal-atualizacao-reestruturacao {
  height: 25vh !important;
}

.thumb-image {
  cursor: pointer;
  object-fit: fill !important;
}

@media (max-width: 800px) {
  .modal {
    padding: 0 1rem;
    gap: 5px;
  }

  .modal-projetos-maquinas2,
  .modal-dispositivos2,
  .modal-adaptacao2,
  .modal-layout3d2,
  .modal-NR122,
  .modal-projetos-gerais2,
  .modal-atualizacao-reestruturacao2 {
    height: 75vh !important;
  }

  .modal-projetos-maquinas,
  .modal-dispositivos,
  .modal-adaptacao,
  .modal-layout3d,
  .modal-NR12,
  .modal-projetos-gerais,
  .modal-atualizacao-reestruturacao {
    height: 10vh !important;
  }
}

.image-on-modal {
  object-fit: scale-down !important;
}
