.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  border-radius: 10px;
  color: #212529;
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.link-to-project {
  text-decoration: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.swiper-slide img {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-legend {
  position: absolute;
  top: 50%;
  background-color: #f8f9fa;
  left: 0;
  right: 0;
  padding: 5px;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.3s ease-in-out;
}

.project:hover .project-legend {
  opacity: 1;
  transform: translateY(0);
}

.grid-slide {
  display: grid;
  gap: 10px;
}

@media (max-width: 600px) {
  .project-legend {
    top: 0;
    opacity: 1;
    transform: translateY(0);
  }
}

.project {
  position: relative;
}
